APP_NAME=gofurry-rag
APP_ENV=dev
APP_ADDR=127.0.0.1:8080

RAG_ADMIN_TOKEN=change-me

RAG_DB_DSN=postgres://postgres:your_password@192.168.153.121:5432/postgres?sslmode=disable

RAG_OLLAMA_BASE_URL=http://148.70.18.111:43434
RAG_EMBED_MODEL=qwen3-embedding:0.6b
RAG_EMBED_DIM=1024

RAG_CHUNK_SIZE=700
RAG_CHUNK_OVERLAP=120
RAG_TOP_K=6
RAG_INGEST_WORKERS=1
RAG_EMBED_BATCH_SIZE=8
